* {
    margin: 0;
    padding: 0;
}


body::before {
    content: "";
    background-image: url("../images/backsk.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: contain;
/*background-repeat: no-repeat;*/
    background-color: rgba(155, 158, 163, 0.91);
    z-index: -1;
    opacity: 0.3;
}

header {
    height: 200px;
    width: 100vw;


}

header img {
    width: 170px;
    height: 150px;
    margin-left: 10px;
    margin-top: 15px;

}

header img:hover {
    width: 250px;
    height: 250px;


}

body {
    overflow-x:hidden;

}
div {
    display: grid;
    place-items: center;
}
.calendar-table {
    width: 90%;
    margin-left: 10px;
    border-collapse: collapse;
    margin-bottom: 20px;
margin-top: 150px;
}

.calendar-table th, .calendar-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.calendar-table th {
    background-color: #4CAF50;
    color: white;
}

.calendar-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}



.calendar-table tbody tr:hover {
    background-color: #ddd;
}

.calendar-table td {
    height: 40px; /* Adjust the height as needed */
}
.d1 h1{

    margin-bottom: -70px;

}
.cc1 {
 margin-right: 30px;
    float:right;
    margin-top: 30px;
height:50px;
}
select {
    width: 150px;
height: 25px;
}
.ftd1 p{
    text-align: left;
    width: 40vw;
    margin-left: 20px;
} .ftd2 p{
      width: 30vw;

  }

.ftd3 p{

    text-align: right;
    width: 24vw;
    margin-left: 20px;
}
footer{
    height: 40px;
    margin:0;
    width:100vw;
    margin-top: 50px;
    background-color: rgba(201, 195, 185, 0.37);
}